<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>New position</title>
        <style type="text/css">
            * { margin: 0; padding: 0; }
            p { padding: 10px; }
            #left { position: absolute; left: 0; top: 0; width: 20%; }
            #right { position: absolute; right: 0; top: 0; width: 80%; }
        </style>

</head>
<body>
<body>
<div id="left">
    <strong><p>Background information</p></strong>
    <p><a href="/organization">Organizational structure</a></p>
    <p><a href="/worker">All workers</a></p>
    <strong><p>Document</p></strong>
    <p><a href="/document">All documents</a></p>
    <p><a href="/document">My documents</a></p>
    <p><a href="/position">Documents to me</a></p>

</div>

<div id="right">

    <br>
    <form th:method="POST" th:action="@{/position}" th:object="${position}">
        <label for="name">Enter position: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        <br/>

        <input type="submit" value="Create!"/>
    </form>
</div>


</body>
</html>